body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main h1{
  color: #444444;
  text-align: center;
}

.main{
  padding: 0;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

.books-list{
  padding: 0;
}

.books-list ul{
  padding: 0;
  list-style: none;
}

.books-list li{
  display: inline-block;
  margin: 12px;
}

.other-books ul{
  padding: 0;
  list-style: none;
}

.other-books li{
  display: inline-block;
}